@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 175 75% 92.5%;
    --foreground: 180 25% 15%;                                                                                              
    --card: 0 0% 100%;
    --card-foreground: 180 25% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 180 25% 15%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 100% 95%;
    --secondary: 175 50% 80%;
    --secondary-foreground: 180 100% 25.1%;
    --muted: 175 50% 85%;
    --muted-foreground: 175 25% 50%;
    --accent: 0 83.3% 75.3%;
    --accent-foreground: 0 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 175 40% 80%;
    --input: 175 40% 82%;
    --ring: 180 100% 25.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 25% 10%;
    --foreground: 175 75% 92.5%;
    --card: 180 25% 12%;
    --card-foreground: 175 75% 92.5%;
    --popover: 180 25% 12%;
    --popover-foreground: 175 75% 92.5%;
    --primary: 175 75% 92.5%;
    --primary-foreground: 180 100% 15%;
    --secondary: 180 25% 20%;
    --secondary-foreground: 175 75% 92.5%;
    --muted: 180 25% 20%;
    --muted-foreground: 175 25% 70%;
    --accent: 0 83.3% 75.3%;
    --accent-foreground: 0 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 25% 25%;
    --input: 180 25% 25%;
    --ring: 175 75% 92.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
